.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #f7ebe8, #fffaf7);
  position: relative;
  padding: 20px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(183, 110, 121, 0.08);
}

.container {
  display: grid;
  grid-template-columns: 1fr 420px;
  gap: 60px;
  width: 100%;
  max-width: 1100px;
  z-index: 2;
}

/* LEFT */
.left h1 {
  font-size: 56px;
  color: #6d4c52;
  margin: 10px 0;
  text-transform: lowercase;
}

.left p {
  color: #8b6b70;
}

.badge {
  display: flex;
  gap: 8px;
  align-items: center;
  background: #fff;
  padding: 10px 16px;
  border-radius: 999px;
  width: fit-content;
  font-weight: 600;
  color: #8b4d59;
}

.features {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.features span {
  background: rgba(255,255,255,0.7);
  padding: 8px 12px;
  border-radius: 999px;
  font-size: 13px;
}

/* RIGHT */
.right {
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  background: #fff;
  border-radius: 24px;
  padding: 28px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.08);
}

.back {
  border: none;
  background: transparent;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 10px;
  color: #8b6b70;
  cursor: pointer;
}

.icon {
  font-size: 32px;
  text-align: center;
  color: #b76e79;
  margin: 10px 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #eee;
}

.input input {
  border: none;
  outline: none;
  width: 100%;
}

.btn {
  background: #b76e79;
  color: #fff;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.modalBox {
  background: #fff;
  padding: 24px;
  border-radius: 20px;
  width: 360px;
  text-align: center;
}

.modalIcon {
  font-size: 28px;
  color: #b76e79;
  margin-bottom: 10px;
}

.pin {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 20px 0;
}

.dot {
  width: 40px;
  height: 50px;
  border-radius: 10px;
  background: #f2f2f2;
}

.dotActive {
  width: 40px;
  height: 50px;
  border-radius: 10px;
  background: #b76e79;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.keys button {
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #f3e9e6;
  cursor: pointer;
}

.confirmBtn {
  margin-top: 14px;
  width: 100%;
  padding: 12px;
  border: none;
  position: fixed;
  border-radius: 12px;
  background: #b76e79;
  color: #fff;
  font-weight: bold;
}